<h1>Listing Cpu Data For Server <%= @server.name %></h1>

<%= high_chart("cpu_data", @cpu_chart) %>

<table class="table">
  <thead>
    <tr>
      <th>CPU Usage</th>
      <th>Received At</th>
    </tr>
  </thead>

  <tbody>
    <% @cpu_data.each do |cpu_datum| %>
      <tr>
        <td><%= number_to_percentage cpu_datum.cpu_usage, precision: 0 %></td>
        <td><%= l cpu_datum.created_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= paginate @cpu_data %>
<br/>
<%= render 'shared/data_nav_links', locals: { server: @server } %>