<h1>Listing Disk Data For Server <%= @server.name %></h1>

<%= high_chart("disk_data", @disk_chart) %>

<table class="table">
  <thead>
  <tr>
    <th>Disk Usage</th>
    <th>Received At</th>
  </tr>
  </thead>

  <tbody>
  <% @disk_data.each do |disk_datum| %>
      <tr>
        <td><%= number_to_percentage disk_datum.disk_usage, precision: 0 %></td>
        <td><%= l disk_datum.created_at, format: :short %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<%= paginate @disk_data %>
<br/>
<%= render 'shared/data_nav_links', locals: { server: @server } %>