<%= form_for(server) do |f| %>
    <% if server.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

          <ul>
            <% server.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :hostname %><br>
      <%= server.hostname %>
    </div>

    <div class="form-group">
      <%= f.label :custom_name %><br>
      <%= f.text_field :custom_name, class: 'form-control' %>
    </div>

    <div class="checkbox">
      <label>
        <%= f.check_box :clear_data %> Clear Server Data
      </label>
    </div>

    <div class="checkbox">
      <label>
        <%= f.check_box :cpu_alert %> Alert On High Cpu Usage
      </label>
    </div>

    <div class="checkbox">
      <label>
        <%= f.check_box :disk_alert %> Alert On High Disk Usage
      </label>
    </div>

    <div class="checkbox">
      <label>
        <%= f.check_box :process_alert %> Alert On High Process Count
      </label>
    </div>

    <%= f.submit class: 'btn btn-default' %>
<% end %>
