<h1>My Servers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpu Usage</th>
      <th>Disk Usage</th>
      <th>Process Count</th>
      <th>Last Data Received At</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= link_to server.name, server_path(server) %></td>
        <td class="cpu_data"><%= server.mini_cpu_graph_data %></td>
        <td class="disk_data"><%= server.mini_disk_graph_data %></td>
        <td class="process_data"><%= server.mini_process_count_data %></td>
        <td><%= l server.last_data_sent_at, format: :short if server.last_data_sent_at %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
      </tr>
    <% end %>
  </tbody>
</table>