<h3><%= @server.name %></h3>

<p>
  <strong>Hostname:</strong>
  <%= @server.hostname %>
</p>

<p>
  <strong>Custom Name:</strong>
  <%= @server.custom_name %>
</p>

<p>
  <strong>Added At:</strong>
  <%= l @server.created_at, format: :short %>
</p>

<p>
  <strong>Last Data Received At:</strong>
  <%= l @server.last_data_sent_at, format: :short if @server.last_data_sent_at %>
</p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Current Data</strong></div>
      <div class="panel-body">
        <div class="col-lg-4">
          <div id="cpu_gauge" data-current-value="<%= @server.current_cpu_usage %>"></div>
        </div>

        <div class="col-lg-4">
          <div id="disk_gauge" data-current-value="<%= @server.current_disk_usage %>"></div>
        </div>

        <div class="col-lg-4">
          <div id="process_gauge" data-current-value="<%= @server.current_process_count %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Average Data</strong></div>
      <div class="panel-body">
        <div class="col-lg-4">
          <div id="average_cpu_gauge" data-current-value="<%= @server.average_cpu_usage %>"></div>
        </div>

        <div class="col-lg-4">
          <div id="average_disk_gauge" data-current-value="<%= @server.average_disk_usage %>"></div>
        </div>

        <div class="col-lg-4">
          <div id="average_process_gauge" data-current-value="<%= @server.average_process_count %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit Server', edit_server_path(@server) %> |
<%= link_to 'Display All CPU Data', server_cpu_data_path(@server) %> |
<%= link_to 'Display All Disk Data', server_disk_data_path(@server) %> |
<%= link_to 'Display All Process Data', server_process_data_path(@server) %>
