<%= link_to 'Return To Server Page', server_path(server) %> |
<%= link_to 'Display All CPU Data', server_cpu_data_path(server) %> |
<%= link_to 'Display All Disk Data', server_disk_data_path(server) %> |
<%= link_to 'Display All Process Data', server_process_data_path(server) %>