<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <% if current_user %>
          <li role="presentation">
            <%= link_to 'Servers', servers_path %>
          </li>
          <li role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Reports <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'CPU Reports', reports_cpu_path %>
              </li>
              <li>
                <%= link_to 'Disk Reports', reports_disk_path %>
              </li>
              <li>
                <%= link_to 'Process Reports', reports_process_path %>
              </li>
            </ul>
          </li>
          <li role="presentation">
            <%= link_to 'Edit Account', edit_user_registration_path %>
          </li>
          <li role="presentation">
            <%= link_to 'Logout', destroy_user_session_path %>
          </li>
      <% else %>
          <li role="presentation">
            <%= link_to 'Home', root_path %>
          </li>
          <li role="presentation">
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
      <% end %>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">
    <%= link_to 'Crossover Project', root_path %>
  </h3>
</div>