<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Report</title>

  <%= wicked_pdf_stylesheet_link_tag 'application' %>
  <%= wicked_pdf_javascript_include_tag 'application' %>
</head>

<body>
<div class="container">

<div class="header clearfix">
  <h3 class="text-muted">
    <%= link_to 'Crossover Project', root_path %>
  </h3>
</div>