<div class="jumbotron">
  <h1>Monitoring App</h1>

  <p class="lead">Monitor Your Servers in the comfort of your home.</p>

  <p>
    <%= link_to 'Sign Up Today', new_user_registration_path, class: 'btn btn-lg btn-success', role: 'button' %>
  </p>
</div>