<h1>Listing Process Data For Server <%= @server.name %></h1>

<%= high_chart("process_data", @process_chart) %>

<table class="table">
  <thead>
  <tr>
    <th>Process Count</th>
    <th>Received At</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @process_data.each do |process_datum| %>
      <tr>
        <td><%= process_datum.process_count %></td>
        <td><%= l process_datum.created_at, format: :short %></td>
        <td><%= link_to 'Display Process List', server_process_datum_path(@server, process_datum) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<%= paginate @process_data %>
<br/>
<%= render 'shared/data_nav_links', locals: { server: @server } %>