<h1>Listing Process Data For Server <%= @server.name %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Process Name</th>
    <th>Process CPU Usage</th>
    <th>Received At</th>
  </tr>
  </thead>

  <tbody>
  <% @process_data.each do |process_datum| %>
      <tr>
        <td><%= process_datum.process_name %></td>
        <td><%= number_to_percentage process_datum.process_cpu_usage, precision: 0 %></td>
        <td><%= l process_datum.created_at, format: :short %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<%= render 'shared/data_nav_links', locals: { server: @server } %>
