<table class="table">
  <thead>
  <tr>
    <th>Server Name</th>
    <th>Cpu Usage</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% cpu_data.each do |cpu_datum| %>
      <tr>
        <td><%= cpu_datum.server.name %></td>
        <td><%= number_to_percentage cpu_datum.cpu_usage, precision: 0 %></td>
        <td><%= l cpu_datum.created_at, format: :short %></td>
      </tr>
  <% end %>
  </tbody>
</table>