<table class="table">
  <thead>
  <tr>
    <th>Server Name</th>
    <th>Disk Usage</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% disk_data.each do |disk_datum| %>
      <tr>
        <td><%= disk_datum.server.name %></td>
        <td><%= number_to_percentage disk_datum.disk_usage, precision: 0 %></td>
        <td><%= l disk_datum.created_at, format: :short %></td>
      </tr>
  <% end %>
  </tbody>
</table>