<table class="table">
  <thead>
  <tr>
    <th>Server Name</th>
    <th>Process Count</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% process_data.each do |process_datum| %>
      <tr>
        <td><%= process_datum.server.name %></td>
        <td><%= process_datum.process_count %></td>
        <td><%= l process_datum.created_at, format: :short %></td>
      </tr>
  <% end %>
  </tbody>
</table>