<h1>Listing High CPU Usage</h1>

<%= link_to 'Save As Pdf', reports_cpu_path(format: :pdf), class: 'btn btn-default' %>

<%= render 'cpu_table', locals: { cpu_data: @cpu_data } %>

<%= link_to 'Save As Pdf', reports_cpu_path(format: :pdf), class: 'btn btn-default' %>

<br/><br/>