<h1>Listing High Disk Usage</h1>

<%= link_to 'Save As Pdf', reports_disk_path(format: :pdf), class: 'btn btn-default' %>

<%= render 'disk_table', locals: { disk_data: @disk_data } %>

<%= link_to 'Save As Pdf', reports_disk_path(format: :pdf), class: 'btn btn-default' %>

<br/><br/>