<h1>Listing High Process Count</h1>

<%= link_to 'Save As Pdf', reports_process_path(format: :pdf), class: 'btn btn-default' %>

<%= render 'process_data_table', locals: { process_data: @process_data } %>

<%= link_to 'Save As Pdf', reports_process_path(format: :pdf), class: 'btn btn-default' %>

<br/><br/>